BasedOnStyle: LLVM
IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 100
PointerAlignment: Right
ReferenceAlignment: Right
BreakBeforeBraces: Attach
SpaceBeforeParens: ControlStatements
AlignAfterOpenBracket: Align
AlignTrailingComments: true
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveDeclarations: Consecutive
AlignConsecutiveMacros: Consecutive
BinPackParameters: false
BinPackArguments: false
AllowAllParametersOfDeclarationOnNextLine: false
ContinuationIndentWidth: 4
SortIncludes: Never
ReflowComments: false
